MidasD/Connected Services/SrArgos/Service7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="WcfArgos" elementFormDefault="qualified" targetNamespace="WcfArgos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.25/wcfArgos/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfArgos" />
  <xs:import schemaLocation="http://192.168.2.25/wcfArgos/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CadArgos" />
  <xs:import schemaLocation="http://192.168.2.25/wcfArgos/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Convenio.Core.Modelo.Dto.Proceso.ServicioExterno" />
  <xs:import schemaLocation="http://192.168.2.25/wcfArgos/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WcfSegipConsulta" />
  <xs:import schemaLocation="http://192.168.2.25/wcfArgos/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/CadSegipConsulta" />
  <xs:import schemaLocation="http://192.168.2.25/wcfArgos/Service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/CadZeus" />
  <xs:import schemaLocation="http://192.168.2.25/wcfArgos/Service.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/WcfZeus" />
  <xs:element name="consultaInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="consulta" nillable="true" type="q1:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultaInsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaEditar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="consulta" nillable="true" type="q2:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaEditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultaEditarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsulta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultaEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="consultaListarResult" nillable="true" type="q3:ArrayOfConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConsulta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="consultaGetResult" nillable="true" type="q4:Consulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distritoInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="distrito" nillable="true" type="q5:Distrito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distritoInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distritoInsertarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distritoEditar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="distrito" nillable="true" type="q6:Distrito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distritoEditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distritoEditarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distritoEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distritoEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distritoEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distritoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="distritoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="distritoListarResult" nillable="true" type="q7:ArrayOfDistrito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distritoGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distritoGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="distritoGetResult" nillable="true" type="q8:Distrito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="persona" nillable="true" type="q9:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personaInsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaEditar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="persona" nillable="true" type="q10:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaEditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personaEditarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personaEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="personaListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="personaListarResult" nillable="true" type="q11:ArrayOfPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="personaGetResult" nillable="true" type="q12:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaGetPorNroDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaGetPorNroDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="personaGetPorNroDocumentoResult" nillable="true" type="q13:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaListarPorDistrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parametro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personaListarPorDistritoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CadArgos" minOccurs="0" name="personaListarPorDistritoResult" nillable="true" type="q14:ArrayOfpaPersonaListarPorDistrito_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="tarjeta" nillable="true" type="q15:Tarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tarjetaInsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaEditar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="tarjeta" nillable="true" type="q16:Tarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaEditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tarjetaEditarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTarjeta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tarjetaEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="tarjetaListarResult" nillable="true" type="q17:ArrayOfTarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTarjeta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="tarjetaGetResult" nillable="true" type="q18:Tarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaGetPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaGetPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="tarjetaGetPorCodigoResult" nillable="true" type="q19:Tarjeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaListarPorDistrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parametro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaListarPorDistritoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CadArgos" minOccurs="0" name="tarjetaListarPorDistritoResult" nillable="true" type="q20:ArrayOfpaTarjetaListar_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaActivar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTarjeta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarjetaActivarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tarjetaActivarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="usuario" nillable="true" type="q21:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioInsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioEditar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="usuario" nillable="true" type="q22:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioEditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioEditarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="usuarioListarResult" nillable="true" type="q23:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="usuarioGetResult" nillable="true" type="q24:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioGetPorUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioGetPorUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="usuarioGetPorUserResult" nillable="true" type="q25:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioValidar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioValidarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="usuarioValidarResult" nillable="true" type="q26:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioValidarNuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ci" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioValidarNuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="usuarioValidarNuevoResult" nillable="true" type="q27:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioActivar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioActivarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioActivarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioCambiarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioCambiarClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioCambiarClaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioBuscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parametro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioBuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CadArgos" minOccurs="0" name="usuarioBuscarResult" nillable="true" type="q28:ArrayOfpaUsuarioBuscar_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioGetContraseña">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioGetContraseñaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioGetContraseñaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFecha">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFechaResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="visita" nillable="true" type="q29:Visita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visitaInsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaEditar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="visita" nillable="true" type="q30:Visita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaEditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visitaEditarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVisita" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visitaEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="visitaListarResult" nillable="true" type="q31:ArrayOfVisita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVisita" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="visitaGetResult" nillable="true" type="q32:Visita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaSalida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoTarjeta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaSalidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CadArgos" minOccurs="0" name="visitaSalidaResult" nillable="true" type="q33:paVisitaSalida_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaSalidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoTarjeta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaSalidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CadArgos" minOccurs="0" name="visitaSalidasResult" nillable="true" type="q34:ArrayOfpaVisitaSalida_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZeus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" type="xs:int" />
        <xs:element minOccurs="0" name="desde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="hasta" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitaReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CadArgos" minOccurs="0" name="visitaReporteResult" nillable="true" type="q35:ArrayOfpaVisitaPorOficina_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segipConsultaPdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ciConsulta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="materno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aplicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segipConsultaPdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Convenio.Core.Modelo.Dto.Proceso.ServicioExterno" minOccurs="0" name="segipConsultaPdfResult" nillable="true" type="q36:RespuestaConsultaCertificacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segipConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ciConsulta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="materno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aplicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segipConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WcfSegipConsulta" minOccurs="0" name="segipConsultaResult" nillable="true" type="q37:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segipConsultaUsuarioInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedulaIdentidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segipConsultaUsuarioInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="segipConsultaUsuarioInsertarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segipConsultaHistorico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedulaIdentidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aplicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segipConsultaHistoricoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CadSegipConsulta" minOccurs="0" name="segipConsultaHistoricoResult" nillable="true" type="q38:ArrayOfpaConsultaHistorico_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segipActualizarDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ciConsulta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="materno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aplicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segipActualizarDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WcfSegipConsulta" minOccurs="0" name="segipActualizarDatosResult" nillable="true" type="q39:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zeusListarPandora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parametro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zeusListarPandoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CadZeus" minOccurs="0" name="zeusListarPandoraResult" nillable="true" type="q40:ArrayOffnZeusListarPandora_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zeusGetPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zeusGetPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WcfZeus" minOccurs="0" name="zeusGetPorCodigoResult" nillable="true" type="q41:Zeus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitacoraVehiculoInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="bitacoravehiculo" nillable="true" type="q42:BitacoraVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitacoraVehiculoInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bitacoraVehiculoInsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitacoraVehiculoEditar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="bitacoravehiculo" nillable="true" type="q43:BitacoraVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitacoraVehiculoEditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bitacoraVehiculoEditarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitacoraVehiculoEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBitacoraVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitacoraVehiculoEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bitacoraVehiculoEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitacoraVehiculoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="bitacoraVehiculoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="bitacoraVehiculoListarResult" nillable="true" type="q44:ArrayOfBitacoraVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitacoraVehiculoGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBitacoraVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitacoraVehiculoGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="bitacoraVehiculoGetResult" nillable="true" type="q45:BitacoraVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="vehiculo" nillable="true" type="q46:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehiculoInsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoEditar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="vehiculo" nillable="true" type="q47:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoEditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehiculoEditarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehiculoEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="vehiculoListarResult" nillable="true" type="q48:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="vehiculoGetResult" nillable="true" type="q49:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoGetQr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vehiculoGetQrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehiculoGetQrResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="cargopersona" nillable="true" type="q50:CargoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cargoPersonaInsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaEditar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="cargopersona" nillable="true" type="q51:CargoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaEditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cargoPersonaEditarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCargoPersona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cargoPersonaEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="cargoPersonaListarResult" nillable="true" type="q52:ArrayOfCargoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaListarPA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parametro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaListarPAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CadArgos" minOccurs="0" name="cargoPersonaListarPAResult" nillable="true" type="q53:ArrayOfpaPersonaCargoListar_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCargoPersona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargoPersonaGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WcfArgos" minOccurs="0" name="cargoPersonaGetResult" nillable="true" type="q54:CargoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>