MidasD/Connected Services/SrArgos/Service9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CadZeus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CadZeus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOffnZeusListarPandora_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fnZeusListarPandora_Result" nillable="true" type="tns:fnZeusListarPandora_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffnZeusListarPandora_Result" nillable="true" type="tns:ArrayOffnZeusListarPandora_Result" />
  <xs:complexType name="fnZeusListarPandora_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoZeuz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idZeus" type="xs:int" />
      <xs:element minOccurs="0" name="oficina" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fnZeusListarPandora_Result" nillable="true" type="tns:fnZeusListarPandora_Result" />
</xs:schema>