MidasD/Connected Services/SrArgos/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CadSegipConsulta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CadSegipConsulta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfpaConsultaHistorico_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="paConsultaHistorico_Result" nillable="true" type="tns:paConsultaHistorico_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpaConsultaHistorico_Result" nillable="true" type="tns:ArrayOfpaConsultaHistorico_Result" />
  <xs:complexType name="paConsultaHistorico_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="aplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cedulaConsulta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idConsulta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paConsultaHistorico_Result" nillable="true" type="tns:paConsultaHistorico_Result" />
</xs:schema>