MidasD/Connected Services/SrArgos/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfSegipConsulta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfSegipConsulta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoEsposo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cedulaIdentidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="conyugue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamentoNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="domicilio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fotografia" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="localidadNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="madre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paisNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="profesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provinciaNacimiento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
</xs:schema>