MidasD/Connected Services/SrArgos/Service8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfZeus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfZeus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Zeus">
    <xs:sequence>
      <xs:element minOccurs="0" name="idZeus" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idMunicipio" type="xs:int" />
      <xs:element minOccurs="0" name="idTipoUnidadOrganizacionalMateria" type="xs:int" />
      <xs:element minOccurs="0" name="idArea" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="registroActivo" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zeus" nillable="true" type="tns:Zeus" />
</xs:schema>