MidasD/Connected Services/SrArgos/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Comun.Resultado" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Comun.Resultado" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoExterno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResultado">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoRespuesta" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoUnico" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DescripcionRespuesta" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultadoExterno" nillable="true" type="tns:ResultadoExterno" />
  <xs:complexType name="BaseResultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsValido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResultado" nillable="true" type="tns:BaseResultado" />
</xs:schema>