MidasD/Connected Services/SrMidasD/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClnMidasD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClnMidasD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element minOccurs="0" name="applitation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="macAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Header" nillable="true" type="tns:Header" />
</xs:schema>